<ion-content color="dark" no-bounce>
    <ion-row id="celda" style="height:100%; ">
        <ion-col class="col-6 col-sm-4" style=" background-color: red; color: seashell;  border-radius: 15px; " (click)="animal('leon')">

        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color:yellow; color: seashell; border-radius: 15px; " (click)="animal('oveja')">

        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color: pink; color: seashell; border-radius: 15px; " (click)="animal('gato')">

        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color:rgb(10, 153, 41); color: seashell; border-radius: 15px; " (click)="animal('perro')">

        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color: rgb(164, 8, 236); color: seashell; border-radius: 15px; " (click)="animal('cerdo')">

        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color:rgb(8, 126, 236); color: seashell; border-radius: 15px; " (click)="animal('vaca')">

        </ion-col>
    </ion-row>
</ion-content>