<ion-header>
    <ion-toolbar color="success">
        <ion-title>
            <!--     <button type="button " class="btn btn-danger" (click)="gano(3) ">Terminar</button> --></ion-title>
    </ion-toolbar>
</ion-header>

<ion-content color="dark" class="no-scroll">
    <div *ngIf="!resultadoFinal">
        <ion-row justify-content-center style="height: 36vh">

            <ion-col class="col-12 col-sm-5">
                <div class=" mt-1 animated infinite bounce" style="align-content: center; height: 48%;">
                    <img src="../../assets/metegols-29.svg" alt="">
                </div>
            </ion-col>
        </ion-row>

        <ion-row justify-content-center>
            <ion-col class="col-4">
                <button type="button " class=" btn  form-control-inline full animated tada delay-2s" (click)="gano(1) " style="height:9vh; background-color: rgb(0, 26, 255); color: seashell; ">Gano
                    {{jugador1}}</button>
            </ion-col>
            <ion-col class="col-3 " style="height:9vh; color: seashell; ">
                <ion-icon name="camera" style="color: white; zoom: 4; vertical-align: auto; " (click)="camara() ">
                </ion-icon>
            </ion-col>
            <ion-col class="col-4 ">
                <button type="button " class="btn form-control-inline full animated tada delay-3s " (click)="gano(2) " style="height:9vh; background-color: rgb(39, 179, 11); color: seashell; ">Gano
                    {{jugador2}}</button>
            </ion-col>
        </ion-row>
    </div>

    <div *ngIf="resultadoFinal">
        <ion-row justify-content-center style="height: 50vh">
            GANO NADIE
        </ion-row>
    </div>


    <ion-item-divider class="mt-3">
        <ion-label>
            Resultados
        </ion-label>
        <ion-col class="col-4" style="  font-size: 11pt"> {{jugador1}}</ion-col>
        <ion-col class="col-4" style="  font-size: 11pt"> {{jugador2}}</ion-col>
        <ion-col class="col-4" style="  font-size: 11pt">Foto</ion-col>
    </ion-item-divider>

    <ion-content [scrollEvents]="true" style="height: 30vh; margin-bottom: 0; font-size: 11pt;" *ngIf="jugadaActual" scrollY="true" color="light" class="mt-2">
        <!--   <button type="button " class="p-2 btn btn-danger form-control full " (click)="limpiar() " style="height:20vh; ">Ver Resultado</button> -->
        <app-listado-comp [resultados]="juegoActual.resultador"></app-listado-comp>
    </ion-content>
</ion-content>