.botonLindo {
    min-width: 98%;
    max-width: 98%;
    min-height: 98%;
    max-height: 98%;
    background-color: rgb(187, 184, 184);
    border-radius: 15px;
    padding: 20px;
    margin: 5px;
}

.botones {
    height: 97vh;
}