<ion-content color="dark" no-bounce>
    <ion-row id="celda">
        <ion-col class="col-6 col-sm-4" style=" background-color: red; color: seashell;  border-radius: 15px; " (click)="animal('leon')">
            <h1 style="font-size: 55pt"> 1 </h1>
        </ion-col>
        <ion-col class=" col-6 col-sm-4 " style=" background-color:rgb(143, 245, 9); color: seashell; border-radius: 15px; " (click)="animal( 'oveja') ">
            <h1 style="font-size: 55pt"> 2 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color: rgb(219, 13, 168); color: seashell; border-radius: 15px; " (click)="animal( 'gato') ">
            <h1 style="font-size: 55pt"> 3 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color:rgb(10, 153, 41); color: seashell; border-radius: 15px; " (click)="animal( 'perro') ">
            <h1 style="font-size: 55pt"> 4 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color: rgb(137, 48, 179); color: seashell; border-radius: 15px; " (click)="animal( 'cerdo') ">
            <h1 style="font-size: 55pt"> 5 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color:rgb(8, 126, 236); color: seashell; border-radius: 15px; " (click)="animal( 'vaca') ">
            <h1 style="font-size: 55pt"> 6 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color: rgb(253, 157, 46); color: seashell; border-radius: 15px; " (click)="animal( 'gato') ">
            <h1 style="font-size: 55pt"> 7 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color:rgb(8, 235, 204); color: seashell; border-radius: 15px; " (click)="animal( 'perro') ">
            <h1 style="font-size: 55pt"> 8 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color: rgb(153, 10, 81); color: seashell; border-radius: 15px; " (click)="animal( 'gato') ">
            <h1 style="font-size: 55pt"> 9 </h1>
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color:rgb(6, 8, 124); color: seashell; border-radius: 15px; " (click)="animal( 'perro') ">
            <h1 style="font-size: 55pt"> 10 </h1>
        </ion-col>

    </ion-row>
</ion-content>