.box {
    opacity: 0.7;
    border-radius: 15px;
    width: max-content;
    margin: 3px auto;
    background: transparent;
    padding: 5px;
    text-align: left;
    color: black;
    font-family: arial;
    position: initial;
    border: #00bfb6;
    border-style: solid;
}

h3 {
    margin-left: 5px;
    margin-right: 10px;
    font-weight: bold;
}

h5 {
    margin-left: 5px;
    margin-right: 10px;
    font-size: 11pt;
    text-transform: capitalize;
}

.box2 {
    opacity: 0.8;
    border-radius: 15px;
    text-align: right;
    width: max-content;
    margin: 3px auto;
    padding: 5px;
    color: black;
    font-family: arial;
    position: relative;
    border: #bf1d00;
    border-style: solid;
}

.frame {
    height: 100%;
}

li.box {
    margin-left: 15px;
}

li.box2 {
    margin-right: 15px;
}

.message-list {
    padding: 10px;
    scroll-margin-bottom: true;
}

input:focus {
    outline: #00bfb6;
}

ul {
    /*    width: 100%; */
    list-style-type: none;
    position: relative;
    display: block;
    flex-direction: column;
    text-align: left;
    /*  top: 0; */
    /*     overflow-y: scroll; */
}