<ion-content color="dark" class="animated fadeInDown delay-2s">
    <ion-row id="celda" style="height:100%; ">
        <ion-col class="col-6 col-sm-4" style=" background-color:rgb(10, 153, 41); color: seashell; border-radius: 15px; " (click)="animal('perro')">
            <img class="col-12" src="../../assets/1-16.png" (click)="animal('perro')">
        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color: red; color: seashell;  border-radius: 15px; " (click)="animal('leon')">
            <img class="col-12 " src="../../assets/1-18.png" (click)="animal('leon')">
        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color: rgb(231, 10, 176); color: seashell; border-radius: 15px; " (click)="animal('gato')">
            <img class="col-12" src="../../assets/1-17.png" (click)="animal('gato')">
        </ion-col>
        <ion-col class="col-6 col-sm-4 " style=" background-color: rgb(8, 165, 177); color: seashell; border-radius: 15px; " (click)="animal('oveja')">
            <img class="col-12" src="../../assets/1-13.png" (click)="animal('oveja')">
        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color:rgb(8, 126, 236); color: seashell; border-radius: 15px; " (click)="animal('vaca')">
            <img class="col-12" src="../../assets/1-14.png" (click)="animal('vaca')">
        </ion-col>
        <ion-col class="col-6 col-sm-4" style=" background-color: rgb(132, 6, 190); color: seashell; border-radius: 15px; " (click)="animal('cerdo')">
            <img class="col-12" src="../../assets/1-15.png" (click)="animal('cerdo')">
        </ion-col>
    </ion-row>
</ion-content>